body {
	background-color: lightblue!important;
	font-family: microsoft Yahei;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 400!important;
}
.markdown-section h2 {
    font-size: 1.35em;
}

.gh-count {
	display: inline;
}
.gitbook-link {
	display: none!important;
}
